<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="apple-touch-icon" href="apple-touch-icon.png" />
<link rel="stylesheet" href="../dist/css/vendor.css" />
<link rel="stylesheet" id="themeDefaultStyle" href="../dist/css/app.css" />
<script src="../dist/js/jquery.js"></script>
